<div class="container-fluid mb-5">
  <h1>Bootcamp Enrollment Form</h1>
  <form #userForm="ngForm">
 
    {{userForm.form.valid}}
    <hr />

    <div class="form-group mb-4">
      <label>Name</label>
      <input
      required
      #name="ngModel"
        name="userName"
        [(ngModel)]="userModel.name"
        type="text"
        [class.is-invalid]="name.invalid && name.touched"
        class="form-control"
      />
      <small class="text-danger"  [class.d-none]="name.valid || name.untouched">Name is required!!</small>
    </div>


    <div class="form-group mb-4">
      <label>Email</label>
      <input
        name="userEmail"
        [(ngModel)]="userModel.email"
        type="text"
        class="form-control"
      />
     
    </div>

    <div class="form-group mb-4">
      <label>Phone Number</label>
      <input
      required
      #userNumber="ngModel"
      pattern="^\d{10}$"
      [class.is-invalid]="userNumber.invalid && userNumber.touched"
        name="userNumber"
        [(ngModel)]="userModel.phone"
        type="tel"
        class="form-control"
      />
      <!-- <small class="text-danger"  [class.d-none]="userNumber.valid || userNumber.untouched">Phone number is required & must be 10 digit!!</small> -->
  
  <div *ngIf="userNumber.errors && (userNumber.invalid || userNumber.touched)">
<small  class="text-danger" *ngIf="!userNumber.errors['required']">Phone number must be of 10 digit</small>
<small class="text-danger" *ngIf="!userNumber.errors['pattern']">Phone number is required</small>
  </div>
  
  
    </div>

    <div class="form-group mb-4">
      <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)"  #topic="ngModel" [class.is-invalid]="topicHasError && topic.touched" class="custom-select" name="topic" [(ngModel)]="userModel.topic">
        <option value="default">I am interested in</option>
        <option *ngFor="let topic of topics">{{ topic }}</option>
      </select>
      <small class="text-danger" [class.d-none]="!topicHasError  || topic.untouched">Please select a topic!</small>
    </div>

    <div class="mb-3 pt-3">
      <label>Time Prefrence</label>
      <div class="form-check">
        <input
          type="radio"
          [(ngModel)]="userModel.timePrefrence"
          class="form-check-input"
          name="timePrefrence"
          value="morning"
        />
        <label class="form-check-label">Morning (9 am - 10 am)</label>
      </div>

      <div class="form-check">
        <input
          type="radio"
          [(ngModel)]="userModel.timePrefrence"
          class="form-check-input"
          name="timePrefrence"
          value="evening"
        />
        <label class="form-check-label">Evening (9 pm - 10 pm)</label>
      </div>
    </div>

    <div class="form-check mb-3">
      <input
        class="form-check-input"
        [(ngModel)]="userModel.subscribe"
        name="subscribe"
        type="checkbox"
      />
      <label class="form-check-label"> Send me News & updates.. </label>
    </div>
    <button [disabled]="userForm.form.invalid || topicHasError" class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
